# Temp & IDE files
.vscode/
*~
*.swp
*.swo

# Secrets
.etherscanKey
.infuraKey
.mythxKey
.secret

# Hardhat files
cache
artifacts
node_modules/
output/
build/
abi/

# Typescript
typechain/

# Solidity-coverage
coverage/
.coverage_contracts/
coverage.json

# Yarn
yarn-error.log

# NPM
package-lock.json

# Crytic
crytic-export/
